.checkout-product {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkout-product__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkout-product__info {
  padding-left: 20px;
}

.checkout-product__title {
  font-size: 17px;
  font-weight: 800;
}

.checkout-product__rating {
  display: flex;
}

.checkout-product__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a31;
  margin-top: 10px;
  padding: 18px 32px;
}
