.login {
  background-color: #ffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.login__logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
}

.login_container {
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 20px;
  width: 300px;
}

.login_container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login_container > form > h5 {
  margin-bottom: 5px;
}

.login_container > form > input {
  background-color: #ffff;
  height: 30px;
  margin-bottom: 10px;
  width: 98%;
}

.login_container > p {
  font-size: 12px;
  margin-top: 15px;
}

.login__signInButton {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 2px;
  height: 30px;
  margin-top: 10px;
  width: 100%;
}

.login__registerButton {
  border: 1px solid;
  border-color: darkgray;
  border-radius: 2px;
  height: 30px;
  margin-top: 10px;
  width: 100%;
}
